body {
  background-color: #cac2c0;
  min-height: 70vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  height: auto;
  min-height: 700px;
  max-width: 700px;
  min-width: 500px;
  background: #eee;
  background-image: radial-gradient(#cac2c0 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #3d5257;
  font-size: 1.5rem;
  color: #eee;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #4d686e;
  /* font-family: "Architects Daughter", cursive; */
  font-family: "McLaren", cursive;
  font-size: 1rem;
  color: #2d373a;
  width: 70%;
  margin-bottom: 20px;
}
/* 
button {
  padding: 0;
  border: none;
  font-family: "McLaren", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #4d686e;
}
button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
} */

.form button {
  /* position: relative;
  float: right; */
  /* margin-right: 1px; */
  color: #4d686e;
  border: none;
  width: 50px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: transparent;
  vertical-align: middle;
}

.form button[disabled] {
  color: lightgray;
}

ul {
  padding: 0;
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
  list-style-type: none;
}

.deleteBtn {
  position: relative;
  float: right;
  margin-right: 1px;
  color: #4d686e;
  border: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  outline: none;
  background: transparent;
}

.checkBox {
  vertical-align: middle;
}

h2 {
  /* background-color: #3d5257; */
  /* text-decoration: underline solid #3d5257 3px;
  font-size: 1.5rem;
  text-align: left;
  color: #3d5257; */

  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  /* margin-bottom: 1rem;
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #3d5257;
  font-size: 1.5rem;
  text-align: left;
  color: #eee; */
}

.deadline {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 0;
}

.deadline h2 {
  transform: rotate(0.5deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: #3d5257;
  font-size: 1rem;
  color: #eee;
  align-items: left;
  justify-content: left;
  margin: 0;
}
